<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>로그인 | 건설사고 예측 시스템</title>
    <link rel="stylesheet" href="/frontend/static/css/style.css">
</head>
<body>
    <header>
        <div class="nav-container">
          <div class="nav-left">
            <a href="index.html" class="logo-link">
              <img src="/static/logo.png" alt="로고" class="logo-img">
              <div class="nav-title">건설사고 예측 시스템</div>
            </a>
          </div>
          <div class="nav-center">
            <a href="index.html">홈</a>
            <a href="predict.html">사고 예측</a>
            <a href="cases.html">사례 검색</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeEcp88hAtCP8cyPYWTjYlGdaP1M-UiiJQ0zszvE-rgoSHmeg/viewform?usp=sharing">문의하기</a>
    
          </div>
          <div class="nav-right">
            <span id="user-badge"></span>
            <a href="login.html" id="login-btn">로그인</a>
            <a href="/logout" id="logout-btn">로그아웃</a>
            <a href="signup.html">회원가입</a>
          </div>
        </div>
      </header>

      <div class="login-container">
        <div class="login-image"></div>
        <div class="login-form-box">
          <h2>로그인</h2>
          <form method="post" action="/login">
            <input type="email" name="email" placeholder="이메일" required />
            <input type="password" name="password" placeholder="비밀번호" required />
            <button type="submit" class="login-btn">로그인</button>
          </form>
          <p class="signup-link">계정이 없으신가요? <a href="/signup">회원가입</a></p>
          <div class="login-logo">
            <img src="/static/logo.png" alt="로고">
          </div>
        </div>

          
      </div>
      


  <footer class="footer">
    <div class="footer-content">
      <p>© 2025 건설사고 예측 시스템. All rights reserved.</p>
      <p>01즈_ 강지호, 김용석, 김지안, 나연희, 최예진</p>
    </div>
  </footer>

<script src="/static/js/login.js"></script>
</body>
</html>
